<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.dummypack.DummyClass</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/NewFile</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>second</servlet-name>
<servlet-class>com.dummypack.PatientClass</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>/PatientClass</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>third</servlet-name>
<servlet-class>com.dummypack.PatientLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>third</servlet-name>
<url-pattern>/patient_login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>four</servlet-name>
<servlet-class>com.dummypack.DoctorLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>four</servlet-name>
<url-pattern>/doctor_login</url-pattern>
</servlet-mapping>
</web-app>
