<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.Office.EmployeeReg</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/emp_reg</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>second</servlet-name>
<servlet-class>com.Office.ManagerReg</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>/man_reg</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>third</servlet-name>
<servlet-class>com.Office.EmployeeLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>third</servlet-name>
<url-pattern>/emp_login</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>four</servlet-name>
<servlet-class>com.Office.ManagerLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>four</servlet-name>
<url-pattern>/man_login</url-pattern>
</servlet-mapping>

</web-app>